.app__header {
    flex: 1;
    width: 90%;
    height: 100%;
    flex-direction: row;
    padding: 4rem 2rem 0rem;
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 10%;
    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
    @media screen and (max-width: 450px) {
        height: 400px;
        padding: 6rem 1rem 2rem;
    }
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20rem;
    background: linear-gradient(45deg, transparent, var(--secondary-color), transparent);
    display: grid;
    place-items: center;
}

.about__me-image {
    overflow: hidden;
    // transform: rotate(2deg);
    background-size: contain;
    border-radius: 5rem;
    max-width: 100%;
    max-height: 100%;
}

.about__me-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--secondary-color);
    background-color: #fff;
    color: #000;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;
    text-decoration: none;
    &:hover {
        background-color: var(--secondary-color);
        color: #fff;
    }
    @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
    }
    @media screen and (max-width: 450px) {
        padding: 0.3rem 0.5rem;
        border-radius: 0.55rem;
        font-size: 0.5rem;
    }
}

.about__content {
    display: flex;
    flex-direction: column;
    background: url("../assets/bgWhite.png") 50% 50% no-repeat !important;
}

.about__btn-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.about__text {
    margin: 0.7rem 0 1.5rem 0;
    font-size: 0.97rem;
    @media screen and (max-width: 450px) {
        font-size: 0.5rem;
        margin: 0.4rem 0 0.5rem 0;
    }
}